@charset "UTF-8";
/* CSS Document */
body{
	background-color:#03C;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
}

h1, h2{
	color:hsl(120,60%,70%);;
	background-color:black;
	text-shadow: 0.1em 0.1em 0.2em #00FFFF;
}

ul{
	color:rgb(255,255,255);
	background-color:rgba(200,200,255,0.3);
}